@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
  }
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  header {
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease, border-color 0.5s ease;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .logo, nav button {
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }

  video {
    transform: scale(1.01); /* Elimina bordes negros en algunos navegadores */
    transition: opacity 0.5s ease;
  }

  video.loading {
    opacity: 0;
  }

  :target {
    scroll-margin-top: 80px;
  }
}
